.services {
    padding: 20px;
  }
  
  .services-details {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    gap: 20px 100px;
    color: white;
    margin-left: 50px;
    cursor: pointer;
  }
  
  .services-item {
    border-bottom: 1px outset #ddd; /* Light border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    width: calc(40% - 20px); /* Two cards per row with margin */
    margin-bottom: 20px; /* Space between rows */
    padding: 20px; /* Internal padding */
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: center; /* Center content vertically */
  }
  .services-item h2{
    font-size: 25px;
    margin-bottom: 20px;
  }
  .services-item p{
    font-size: 13px;
    color: rgb(180, 203, 224);
  }
  
  .services-top-bar {
    display: flex;
    align-items: center;
    gap: 80%; /* Center items vertically */
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .services-number {
    margin-right: 10px; /* Space between number and arrow */
  }
  
  .arrow-icon {
    background-color: white;
    padding:10px;
    border-radius: 50%;    
    color: black; /* Arrow color */
    rotate: 30deg;
    font-size: 20px;
    
  }
  

/* Hover effect */
.services-item:hover .services-top-bar h1, 
.services-item:hover .arrow-icon,
.services-item:hover h2 {
  color:rgb(10, 187, 187); /* Change to your desired color on hover */
}

.services-item:hover .arrow-icon {
    background-color:rgb(10, 187, 187);
    color: white; /* Change background color of arrow on hover */
  }